# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================

venv/
env/
ENV/

# =========================
# Environment Variables
# =========================

.env

# =========================
# Database
# =========================

*.db
*.sqlite3

# =========================
# FastAPI / Logs
# =========================

*.log

# =========================
# VS Code
# =========================

.vscode/

# =========================
# macOS
# =========================

.DS_Store

# =========================
# Windows
# =========================

Thumbs.db

# =========================
# Node Modules
# =========================

node_modules/

# =========================
# Build Files
# =========================

dist/
build/

# =========================
# Pytest
# =========================

.pytest_cache/

# =========================
# Coverage
# =========================

.coverage
htmlcov/

# =========================
# Mypy
# =========================

.mypy_cache/
